$baby-powder: #FCF9F4;
$dark-blue: #172C3C;
$tan: #E2CDB5;
$brown: #B97853;
$light-green: #CCD6A5;
$dark-green: #5B6C52;
$headshot-green: #99D9B7;

$headings: 'Montserrat', sans-serif;
$body: 'Open Sans', sans-serif;
$cursive: 'Yellowtail', cursive;
$light: 300;
$extra-bold: 800;

// MISC PAGE STYLES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: $dark-blue;
}

.site-wrapper{
  background-color: $baby-powder;
  font-family: $body;
  font-weight: $light;
  text-align: center;
}

.container{
  padding-top: 20vh;
  margin-top: -20vh;
}

h2 {
  margin-top: 2rem;
}
.display-none {
  display: none;
}

// BACKGROUND IMAGES

.image-section {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-top: solid 1px $brown;
  border-bottom: solid 1px $brown;
}

.palm-1 {
  background-image: url(../assets/palm-1.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-blend-mode: overlay;
}
.palm-2 {
  background-image: url(../assets/palm-2.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-blend-mode: overlay;
}
.palm-3 {
  background-image: url(../assets/palm-3.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-blend-mode: overlay;
}
.palm-4 {
  background-image: url(../assets/palm-4.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-blend-mode: overlay;
}
.palm-5 {
  background-image: url(../assets/palm-5.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-blend-mode: overlay;
}
.palm-6 {
  background-image: url(../assets/palm-6.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-blend-mode: overlay;
}
.palm-7 {
  background-image: url(../assets/palm-7.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-blend-mode: overlay;
}
.palm-8 {
  background-image: url(../assets/palm-8.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-blend-mode: overlay;
}

// NAV BAR STYLES

nav{
  position: sticky;
  top: 0;
  background-color: $baby-powder !important;
  z-index: 1;
}

// HERO SECTION STYlES

.video-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.content{
  margin: 0 auto;
  position: absolute;
}
.content video{
  width: 100%;
  display: block;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  border-top: solid 1px $brown;
  border-bottom: solid 1px $brown;
}

.hero {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: $baby-powder;

  h1 {
    font-family: $headings;
    font-weight: normal;
    font-size: 5rem;
    margin: 2rem auto;
  }

  i {
    padding-top: 20vh;
  }
}

@keyframes bounce {
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

.hero-arrow {
  animation: bounce 0.75s ease infinite alternate;
}

// SKILLS SECTION STYLES

#skills {
  margin-bottom: 2rem;
}
.skill-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-icons li {
  justify-content: center;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
  margin: 20px 5px 5px 5px;
  width: 100px;
  height: 100px;
  align-items: center;
  i {
    font-size: 2rem;
  }
}
.cell {
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media only screen and (min-width : 992px) {
  .skill-icons li {
    margin: 20px 10px 10px 10px;
    width: 125px;
    height: 125px;
    align-items: center;
    i {
      font-size: 2.5rem;
    }
  }
}

// EXPERIENCE SECTION STYLES

// PROJECTS SECTION STYLES

.mac-svg {
  background-image: none;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-width: 300px;
  min-height: 275px;
}

@media only screen and (min-width : 768px) {
  .mac-svg{
    background-image: url(../assets/mac-screen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 530px;
  }

  .carousel-container{
    width: 100%;
    max-width: 616px;
  }
}

.carousel-container{
  width: 90%;
  max-width: 616px;
  height: 275px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 4%;
}

.carousel-cell{
  height: 100%;
}

.flickity-viewport{
  height: 275px;
  img{
    max-width: 100%;
  }
}

.flickity-page-dots {
  bottom: 10px; 
}

.project {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
  background-color: white;
  margin: 2rem 0;
}

.project-image {
  margin-top: 2rem;
}

.project-info {
  margin: 2rem;
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  .project-left, .project-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    p {
      margin-top: 1rem;
    }
  }

  .project-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    .cell {
      background-color: $baby-powder;
    }
  }
  
  .project-icons li {
    justify-content: center;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5%;
    margin: 10px 5px 5px 5px;
    width:75px;
    height: 75px;
    align-items: center;
    i {
      font-size: 1rem;
    }
  }

  .project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 1rem;

    a {
      text-decoration: none;
      color: $dark-blue;
      -webkit-transition: color 0.25s;
      transition: color 0.25s;
      font-size: 1.25rem;
    }

    a:hover {
      color:$tan;
    }
  }
}

@media only screen and (min-width : 768px) {
  .carousel-container{
    height: 350.5px;
  }

  .flickity-viewport{
    height: 350.5px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .project-left, .project-right {
      width: 50%;
      max-width: 475px;
    }
  }

}

// ABOUT SECTION STYLES

.about-wrapper {
  img {
    border-radius: 3px;
  }
}

.about-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  h3 {
    padding-right: 3rem;
  }
}

.btn {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
  width: 150px;
  padding: 10px;
  background-color: white;
  margin: 2rem;
}

// CONTACT SECTION STYLES

.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: left;
}

.kate-pic {
  img {
    border-radius: 50%;
    border: solid 1px $tan;
    max-width: 200px;
    margin: 3rem;
  }
}

.contact-wrapper, #about {
  a {
    text-decoration: none;
    color: $dark-blue;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    font-size: 1.5rem;
  }

  a:hover {
    color:$tan;
  }

  @media only screen and (max-width : 576px) {
    .contact-flex {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        div {
          padding: 0 15px;
        }
      }
    }

    a {
      font-size: 3rem;
    }

    .link-label {
      display: none;
    }
}
}

// FOOTER STYLES

footer{
  background-color: $dark-blue;
  color: $baby-powder;

  a {
    text-decoration: none;
    color: $baby-powder;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
  }

  a:hover {
    color:$tan;
  }
}

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.feedback {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  span {
    margin-right: 1rem;
  }
}

.copyright {
  margin-top: 1rem;
}