* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$baby-powder: #FCF9F4;
$dark-blue: #172C3C;
$tan: #E2CDB5;
$brown: #B97853;
$light-green: #CCD6A5;
$dark-green: #5B6C52;
$headshot-green: #99D9B7;

$headings: 'Montserrat', sans-serif;
$body: 'Open Sans', sans-serif;
$cursive: 'Yellowtail', cursive;
$light: 300;
$extra-bold: 800;

// .container {
//   width: 100%;
//   height: 100vh;
// }

// BACKGROUND IMAGES AND VIDEO

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}


.image-section {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 175px;
}

.palm-1 {
  background-image: url(../assets/palm-1.jpg);
}
.palm-2 {
  background-image: url(../assets/palm-2.jpg);
}
.palm-3 {
  background-image: url(../assets/palm-3.jpg);
}
.palm-4 {
  background-image: url(../assets/palm-4.jpg);
}
.palm-5 {
  background-image: url(../assets/palm-5.jpg);
}
.palm-6 {
  background-image: url(../assets/palm-6.jpg);
}
.palm-7 {
  background-image: url(../assets/palm-7.jpg);
}
.palm-8 {
  background-image: url(../assets/palm-8.jpg);
}


// HERO SECTION STYlES

.hero-arrow {
  animation: bounce 1.5s linear infinite;
}

// SKILLS SECTION STYLES
.skill-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.skill-icons li {
  justify-content: center;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
  margin: 20px 5px 5px 5px;
  width: 100px;
  height: 100px;
  align-items: center;
  font-size: 13px;
}
.cell {
  display: flex;
  flex-direction: column;
}

// EXPERIENCE SECTION STYLES

// PROJECTS SECTION STYLES

// ABOUT SECTION STYLES

// CONTACT SECTION STYLES
.contact-wrapper{
  a {
    text-decoration: none;
    color: $baby-powder;
    -webkit-transition: color 0.5s, font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
    font-size: 1.5rem;
  }
  a:hover {
    font-size: 1.75rem;
    color:$light-green;
    font-weight: normal;
  }
  .links {
    display: flex;
    justify-content: space-evenly;
    a {
      -webkit-transition: color 0.5s, font-size 0.5s;
      transition: color 0.5s, font-size 0.5s;
      font-size: 3rem;
    }
    a:hover {
      font-size: 3.5rem;
      color: $light-green;
    }
  }
}

// Coming Soon Styles
// .coming-soon {
//   color: $baby-powder;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   font-family: $body;
//   font-weight: $light;
//   text-shadow: 4px 3px 0px rgba(0,0,0,0.15);
//   h1 {
//     font-family: $cursive;
//     font-weight: normal;
//     font-size: 5rem;
//     margin: 2rem auto;
//   }
//   h4{
//     font-weight: normal;
//   }
//   .title {
//     font-family: $headings;
//     font-size: 2rem;
//     margin: 2rem auto;
//   }
//   p {
//     font-size: 1.5rem;
//   }
//   .connect {
//     margin-top: 1.5rem;
    
//   }
//   a {
//     text-decoration: none;
//     color: $baby-powder;
//     -webkit-transition: color 0.5s, font-size 0.5s;
//     transition: color 0.5s, font-size 0.5s;
//     font-size: 1.5rem;
//   }
//   a:hover {
//     font-size: 1.75rem;
//     color:$light-green;
//     font-weight: normal;
//   }
//   .links {
//     display: flex;
//     justify-content: space-evenly;
//     a {
//       -webkit-transition: color 0.5s, font-size 0.5s;
//       transition: color 0.5s, font-size 0.5s;
//       font-size: 3rem;
//     }
//     a:hover {
//       font-size: 3.5rem;
//       color: $light-green;
//     }
//   }
// }
